.card-input {
    min-width: 215px;
    max-width: 215px;
}

.expr-inputs {
    display: inline-flex;
}

.expr-inputs-width {
    min-width: 100px;
    max-width: 100px;
}

.separator {
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}